<ul class="nav bg-dark">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"
      >INICIO</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/peliculas']" routerLinkActive="active"
      >PELICULAS</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/series']" routerLinkActive="active"
      >SERIES</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/milista']" routerLinkActive="active"
      >MI LISTA</a
    >
  </li>
</ul>
